@import "~@/styles/variable.scss";

$headerHeight: 68px;

.container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: $blogBg;
    z-index: 1000;
    transition: box-shadow 250ms;

    &.shadow {
        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, .5);
        transition: box-shadow 250ms;
    }
}
.content {
    width: $layoutWidth;
    margin: 0 auto;
    display: flex;
    height: $headerHeight;
}
.webMark {
    user-select: none;
    flex: 1;
    font-size: 18px;
    font-family: "Axure Handwriting";
    margin: 0;
    padding-left: 20px;
    line-height: $headerHeight;
    min-width: 166px;
    font-weight: 400;
    color: $desFontColor;
}
.menuWrap {
    list-style: none;
    margin: 0;
}

.menuItem {
    display: inline-block;
    height: $headerHeight;
    line-height: $headerHeight;
    
    cursor: pointer;
    // @include transition;

    a {
        display: block;
        height: 100%;
        padding: 0 20px;
        color: $menuFontColor;
        text-decoration: none;
        border-radius: 0 0 100% 100%;
        
        &:hover {
            background: $menuHoverHeighLightBg;
        }
        &.active {
            color: $themeColor;
            background: $menuHeighLightBg;
            // @include transition;
        }
    }

}