@import "./normalize.css";
@import "./variable.scss";

body {
    background: $background-color;
    color: $font-color-base;
    font: 400 15px/20px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

a {
    color: $font-color-second;
    @include transition;

    &:hover {
        color: $primary-color;
        @include transition;
    }
}
