//****************
// 主题色
$primary-color: rgb(79, 134, 233);
$red-color: rgb(218, 79, 63);
$yellow-color: rgb(242, 191, 66);
$green-color: rgb(87, 165, 91);

// 背景色
$background-color: #fff;
$background-active-base: rgba($color: $primary-color, $alpha: 0.15);
$background-active-second: rgba($color: $primary-color, $alpha: 0.05);

// 字体颜色
$font-color-title: #202124;
$font-color-base: #3c4043;
$font-color-second: #5f6368;

$tagColorYellow: #ffa724;
$tagColorBlue: #009688;
$borderColor: #dadce0;
$heightLightColor: #ffffc8;

$titleFontColor: #202124;
$desFontColor: #5f6368;

// menu
$menuFontColor: #3c4043;
$menuHeighLightBg: #e8f0fe;
$menuHoverHeighLightBg: rgb(245, 245, 245);


// px
$global-header-height: 64px;
$global-menu-width: 240px;

$layoutWidth: 1200px;

//****************
// mixin

// 标题
@mixin title {
    color: $font-color-title;
    font-weight: 500;
}

// 动画时间
@mixin transition {
    transition: all 0.3s;
}
