//****************
// color

$blogBg: #fff;
$themeColor: #1a73e8;
$tagColorYellow: #ffa724;
$tagColorBlue: #009688;
$borderColor: #dadce0;
$heightLightColor: #ffffc8;

$titleFontColor: #202124;
$desFontColor: #5f6368;

// menu
$menuFontColor: #3c4043;
$menuHeighLightBg: #e8f0fe;
$menuHoverHeighLightBg: rgb(245, 245, 245);


// px
$layoutWidth: 1200px;

//****************
// mixin

// 动画时间
@mixin transition {
    transition: all 0.3s;
}
