@import '~@/styles/variable.scss';

.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1000;

    color: $themeColor;

    &.show {
        // background: rgba(255, 255, 255, 0.4);
        background: rgba(0, 0, 0, 0.4);
        transition: background .3s;
    }

    &.hide {
        position: static;
        background: transparent;
        transition: background .3s;
    }
}