@import "../../lib/common.scss";

.list {
    list-style: none;
    padding: 0;
}

.item {
    padding: 20px;
    border-radius: 2px;
    border-bottom: 1px solid $borderColor;
}

.meta {
    display: flex;

    .title {
        cursor: pointer;
        font-size: 15px;

        &:hover {
            color: $themeColor;
            text-decoration: underline;
        }
    }
}
