@import "~@/styles/variable.scss";

.list {
    list-style: none;
    padding: 0;
}

.item {
    padding: 20px;
    border-radius: 2px;
    border-bottom: 1px solid $borderColor;
}

.meta {
    display: flex;
    height: 30px;
    line-height: 30px;

    .title {
        cursor: pointer;
        font-size: 15px;
        margin: 0;
        color: $titleFontColor;
        font-weight: 400;

        &:hover {
            color: $themeColor;
            text-decoration: underline;
        }
    }
}

.msg {
    margin: 10px 0;
}

.des {
    color: $desFontColor;
}
