@import "~@/lib/common.scss";

.container {
    background: $blogBg;
    // max-width: 1200px;
    // margin: 0 auto;
}
.content {
    width: $layoutWidth;
    margin: 0 auto;
}
.centerContainer {
    display: flex;
    margin-top: 20px;
}