@import "../../lib/color.scss";

.container {
    display: flex;
    height: 48px;
}
.webMark {
    user-select: none;
    flex: 1;
    font-size: 18px;
    font-family: "Axure Handwriting";
    margin: 0;
    padding-left: 20px;
    line-height: 48px;
    min-width: 166px;
}
.menuWrap {
    background: $blogBg;
    /* flex: 1; */
}