.container {
    text-align: center;
    padding: 20px 0;

    a {
        text-decoration: none;
        color: currentColor;

        &:hover {
            text-decoration: underline;
        }
    }
}